In [13]:
# Question 1.
sampleDict={"Country":{
    "Indian Cricket Team":{
        "name":["Rohit","Virat","Rahul",""],
        "runs":{
            "Rohit":47,
            "Virat":56,
            "Rahul":66
        }
    }
}}
print(sampleDict["Country"]["Indian Cricket Team"]["runs"]["Virat"])

56

In [17]:
# 2.
sample_dict={'a':100,'b':2800,'c':300}
l=sample_dict.values()
if 2700 in l:
    print("yes")
else:
    print("No")
# Another way
flag=False
for k in sample_dict.keys():
    if sample_dict[k]==2700:
        flag=True
        break
if flag==True:
    print("Yes")
else:
    print("No")

No
No

In [22]:
set1={10,20,30,40,50}
set2={30,40,50,60,70}
res1=set1 & set2
print(res1)
# Another way
res2=set1.intersection(set2)
print(res2)

{40, 50, 30}
{40, 50, 30}

In [18]:
import numpy as np
numbers=[1,2,3,4,5,6,7]
arr=np.array(numbers)
res=arr**2
print(res)

# Another way
res=[ x**2 for x in numbers]
print(res)

[ 1  4  9 16 25 36 49]
[1, 4, 9, 16, 25, 36, 49]

In [7]:
sample_set={"Surya","Kapil","MSD"}
sample_list=["Sachin","Siraj","Sehwag"]
for x in sample_list:
    sample_set.add(x)
print(sample_set)

{'MSD', 'Kapil', 'Sehwag', 'Surya', 'Siraj', 'Sachin'}

In [25]:
list1=[10,20,[300,400,[5000,6000],500],30,40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]